body{
  margin: 0;
}

button{
  font-size: 1rem !important;
  font-weight: 700 !important;

  &.btn{
    padding: .875rem 1.8rem;
    border-radius: 6.25rem;
    transition: all 0.4s cubic-bezier(0.68, 0.01, 0.58, 0.75);

    &:hover{
      background-color: #C8A2D6;
      color: #16171c;
    }

    &-primary{
      background-color: #16171c;
      color: #FFF;
    }
  }
}

